.DS_Store
media/**/*
admin/plugins/qrcode/CHANGELOG
admin/plugins/qrcode/INSTALL
admin/plugins/qrcode/LICENSE
admin/plugins/qrcode/README
admin/plugins/qrcode/VERSION
admin/plugins/qrcode/bindings/
admin/plugins/qrcode/cache/
admin/plugins/qrcode/temp/
admin/plugins/qrcode/tools/
admin/plugins/tcpdf/CHANGELOG.TXT
admin/plugins/tcpdf/LICENSE.TXT
admin/plugins/tcpdf/README.TXT
admin/plugins/tcpdf/cache/
admin/plugins/tcpdf/doc/
admin/plugins/tcpdf/examples/
admin/plugins/tcpdf/fonts/
admin/plugins/tcpdf/images/
admin/plugins/fpdf/fpdf.php
admin/plugins/plupload/edit/resize.php
admin/plugins/qrcode/phpqrcode.php
admin/plugins/qrcode/qrbitstream.php
admin/plugins/qrcode/qrencode.php
admin/plugins/qrcode/qrimage.php
admin/plugins/qrcode/qrinput.php
admin/plugins/qrcode/qrmask.php
admin/plugins/qrcode/qrrscode.php
admin/plugins/qrcode/qrspec.php
admin/plugins/qrcode/qrsplit.php
admin/plugins/qrcode/qrtools.php
admin/plugins/tcpdf/barcodes.php
admin/plugins/tcpdf/config/tcpdf_config.php
admin/plugins/tcpdf/config/tcpdf_config_alt.php
admin/plugins/tcpdf/pdf417.php
admin/plugins/tcpdf/qrcode.php
admin/plugins/tcpdf/tcpdf.php
admin/plugins/tcpdf/tcpdf_filters.php